<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-md-center"
      id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-decoration-none" href="/"
            >PARKSU LAB</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chart/sabun5.html">5Keys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chart/sabun7.html">7Keys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chart/info.html">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="etcDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Social
          </a>
          <ul class="dropdown-menu" aria-labelledby="etcDropdown">
            <li>
              <a class="dropdown-item" href="https://bmslog.parksu.cc/">
                Blog
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://www.youtube.com/channel/UCy0ynd-bYB0szeF1nV8B3Fw">
                YouTube
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
