@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=M+PLUS+1+Code&family=Nanum+Gothic+Coding&display=swap");

:root {
  --bs-font-sans-serif:
    "Pretendard JP Variable", "Pretendard JP", Pretendard, system-ui,
    -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-monospace-custom {
  font-family: "Fira Code", "M PLUS 1 Code", "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

[data-bs-theme="dark"] .bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-secondary-bg-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.text-secret {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

summary::marker {
  content: "\f0da";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
}

details[open] summary::marker {
  content: "\f0d7";
}

textarea {
  background-color: var(--bs-body-bg);
}

/* Changelog */
#changelogText {
  height: 25vh;
}

#changelogText:focus {
  border: 0px;
  box-shadow: none;
}

/* for All Charts Download Button */
[data-bs-theme="dark"] .btn-secondary {
  --bs-btn-color: #6c757d;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

/* Difficulty Table */
.table {
  --bs-table-bg: transparent;
}

#tableDiff {
  width: 100% !important;
}

#tableDiff th {
  font-family: var(--bs-font-sans-serif) !important;
  font-weight: bold !important;
  text-align: center;
  vertical-align: middle;
  font-size: 0.95em;
}

.five-percent-column {
  width: 5% !important;
}

.one-percent-column {
  width: 1% !important;
}

/* etc */
.scale-frame {
  table-layout: fixed;
  width: 250px;
  border: 3px solid #000;
  border-collapse: collapse;
  float: left;
}

.scale-frame td {
  border: 1px solid #000;
}

[data-bs-theme="dark"] .scale-frame {
  border: 3px solid #495057;
}

[data-bs-theme="dark"] .scale-frame td {
  border: 1px solid #495057;
}

/* for table vertical-align */
.table > tbody > tr > td {
  vertical-align: middle;
}
