@charset "utf-8";

* {
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#header {
    height: 70px;
    background: #ccc;
}

#container {

    padding: 20px;
}

#changelog {
    color: #3d4449;
    overflow: auto;
    width: 550px;
    height: 200px;
    padding: 10px;
    background-color: #c0c0c0;
    border-radius: 0.375em;
    margin: auto;
    resize: none;
    font-size: 16px;
}

#footer {

    border-collapse: collapse;
    border-color: #000000;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgb(200, 200, 200);
}

/* 難易度表用レイアウト */
body.diff {
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: #222222;
    width: auto;
    min-width: 900px;
    line-height: 1.5;
}

.tableflame {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px 0px 5px;
    text-align: center;
    background-color: #eeeeee;
    min-width: 900px;
}

.tableflame a {
    color: #0000c0;
}

.tableflame a:visited {
    color: #0000c0;
}

.tr_header {
    color: #ffffff;
    font-size: 12px;
    background-color: #666666;
    text-shadow: 2px 2px 2px #444444;
}

.tr_separate {
    height: 20px;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 2px 2px 2px #444444;
    background-color: #aaaaaa;
}

.tr_normal {
    background-color: #eeeeee;
}

.state1 {
    background-color: #b5b5ff;
}

.state2 {
    background-color: #ff8888;
}

.state3 {
    background-color: #cefbc9;
}

.state5 {
    background-color: #96dbe4;
}

.tableflame table {
    font-size: 12px;
}

.tableframe th {
    padding: 1px;
    table-layout: fixed;
    border-bottom: 1px solid #444;
}

.tableflame td {
    table-layout: fixed;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tableflame tr, a {
    /*Firefox向け*/
    -moz-transition-property: color, background-color;
    -moz-transition-duration: 0.2s;
    /*Chrome、Safari向け*/
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: 0.2s;
    /*Opera向け*/
    -o-transition-property: color, background-color;
    -o-transition-duration: 0.2s;
    transition-property: color, background-color;
    transition-duration: 0.2s;
}

.tableflame tr.tr_normal:hover {
    background-color: #70f0f0;
}
